.DS_Store

HMCatalog.xcodeproj/project.xcworkspace/xcuserdata/ebaauw.xcuserdatad/UserInterfaceState.xcuserstate
HMCatalog.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
HMCatalog.xcodeproj/xcuserdata/ebaauw.xcuserdatad/xcschemes/xcschememanagement.plist
